nav .nav-item{
  padding: 2px;
  font-size: x-large;
  font-weight: bold;

}

nav a {
  color: rebeccapurple;
}

.active {
  color: mediumpurple !important;
  background-color: #FEFD97 !important;
}

nav {
  border: black 1px solid;
}

.navbar {
  background-color: var(--pastel-purple);
}
