<div class="container mt-4">
  <h2 class="text-center mt-3">My Bookings</h2>
    <button class="btn btn-primary btn-lg rounded btn-pastel" (click)="showAddForm()" *ngIf="authService.isLoggedIn()" >Add Booking
    </button>

  <div *ngIf="showForm" class="mb-4">
    <app-booking-form
      *ngIf="showForm"
      [packages]="packages"
      [booking]="currentBooking"
      (submit)="onFormSubmit($event)"
      (cancel)="showForm = false">
    </app-booking-form>
  </div>

  <div *ngIf="bookings.length === 0 && !showForm" class="alert alert-info">
    You have no bookings yet.
  </div>
  <div class="row">
    <div *ngFor="let booking of displayBookings" class="col-md-3 mb-4">
      <div class="card text-center">
        <div class="card-body">
          <p class="card-title">{{ getPackageName(booking.package_id) }} Package</p>
          <p class="card-text">
            <strong>Date:</strong> {{ booking.display_date }}<br>
            <strong>Time:</strong> {{ booking.display_time }}<br>
            <strong>Price:</strong> ${{ getPackagePrice(booking.package_id) }}
          </p>
          <div class="d-flex justify-content-between">
              <fa-icon [icon]="faPenToSquare" (click)="showEditForm(booking)" class="text-warning"></fa-icon>
              <fa-icon [icon]="faTrashCan" (click)="deleteBooking(booking.id!)" class="text-danger"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
