<div class="hero-section text-center py-5" style="background-color: var(--pastel-blue);">
  <h1 class="display-4 hero-text" style="color: var(--pastel-purple);"><span style=" background-color: var(--pastel-orange);"> Welcome to Kat Café </span></h1>
  <p class="lead hero-subtext" style=" color: var(--pastel-pink);">Book  <span style="background-color: var(--pastel-yellow);"> right meow </span> for a wonderful time.</p>
  <button class="btn btn-pastel hero-subtext mt-2" (click)="scrollTo('about')">About Us</button>
  <button class="btn btn-pastel hero-subtext mt-2" routerLink="/login">Book Now!</button>
  <img src="assets/images/cat-gif.webp" alt="8-bit Cat Running" class="cat-gif">
</div>
<div class="about-us py-5" id="about" >
  <div class="container inner-div" style="background-color: var(--pastel-blue);" id="animatedDiv">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6">
          <h1 style=" color: var(--pastel-purple);" class="text-center text-decoration-underline"><span style="background-color: var(--pastel-orange);">Who Are We?</span></h1>
          <p style="color: var(--pastel-purple);" class="text-center">
            We are a small café that started out as a way to gather some money to take care of the kitties.
            Now we are <span style="color: var(--pastel-pink);background-color: var(--pastel-yellow);">proud</span> to say that we have had <span style="color: var(--pastel-pink);background-color: var(--pastel-yellow);">over 100</span> kitties be <span style="color: var(--pastel-pink);background-color: var(--pastel-yellow);">adopted</span> from
            our café.
          </p>
      </div>
      <div class="col-md-6">
        <img src="assets/images/surprised_cat.png" alt="cat" class="img-fluid rounded goofy-image">
      </div>
    </div>
  </div>
</div>
