.btn-pastel {
  background-color: var(--pastel-yellow);
  color: var(--pastel-purple);
  border: none;
  padding: 10px 20px;
  font-family: 'Courier New', Courier, monospace;
}

.btn-pastel:hover {
  background-color: var(--pastel-pink);
  color: white;
}


p {
  font-size: x-large;
  font-weight: bold;
}

h1{
  font-weight: bold;
}

img {
  width: 200px;
  height: 250px;
  border-radius: 5px;
}

.container-fluid {
  border: 1px black solid;
}


.inner-div {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1s ease, transform 1s ease;
}


.inner-div.animate {
  opacity: 1;
  transform: translateY(0);
}


@keyframes goofyMove {
  0%, 100% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(-5px, -5px) rotate(-5deg);
  }
  50% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
}


.goofy-image {
  animation: goofyMove 2s infinite ease-in-out;
}



@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.hero-text, .hero-subtext, .card, img {
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
}

.hero-text, .card, img {
  animation-delay: 0.3s;
}

.hero-subtext, .card, img {
  animation-delay: 0.5s;
}


.card{
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  height: 55px;
}

.card-body{
  font-weight: bold;

}

.container-fluid {
  min-height: 100vh !important;
}
