<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-header">
          <h3 class="text-center">Login to Cat Cafe</h3>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username"
                     [(ngModel)]="credentials.username" name="username" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password"
                     [(ngModel)]="credentials.password" name="password" required>
            </div>
            <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
          </form>
        </div>
      </div>
      <p>If you don't have an account register <a routerLink="/register">HERE</a></p>
    </div>
  </div>
</div>
