h1, h2,p,a{
  font-family: 'Courier New', Courier, monospace;
}

:root {
  --pastel-purple: #B49FDC;
  --pastel-blue: #C5EBFE;
  --pastel-yellow: #FEFD97;
  --pastel-green: #A5F8CE;
  --pastel-orange: #FEC9A7;
  --pastel-pink: #F197CD;
}

body {
  font-family: 'Courier New', Courier, monospace;
  color: var(--pastel-purple);
}










html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
