.footer{
  border: 1px black solid;
}

fa-icon {
  font-size: small;
}


fa-icon:hover {
  cursor: pointer;
}


footer {
  background-color: var(--pastel-yellow);
  color: var(--pastel-purple);
}


p{
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}
